/* Color Theme Swatches in Hex */
:root {
    --first-color: #264653; 
    --second-color: #4B4B4B; 
    --third-color: #2A9D8F; 
    --fourth-color: #FDFDF6; 
    --fifth-color: #E76F51; 
}


/**************************SITE WIDE***********************/

*{
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

/**************************HEADER**************************/

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background-color: var(--first-color);
    
}


header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 7px;
}

header span{
    font-size: 1.2rem;
    color: var(--fourth-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
   
}

/*******************HAMBURGER *******************/

.hamburger{
    background: none;
    border: none;
    color: var(--fourth-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before{
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before{
    content: "\00D7";
    font-size: 2rem;
}

/*******************NAVIGATION*******************/

.navigation{
    display: none;

}

.navigation.show{
    display: block;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: var(--first-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current{
    background-color: #eee;
}

.navigation a:hover{
    background-color: var(--first-color);
    color: var(--fourth-color);
}

h1{
    margin-left: 10px;
    color: var(--first-color);
}

/*******************MAIN*******************/

h2{
    background-color: var(--third-color);
    color: var(--fourth-color);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;

}

.about{
    margin-left: 10px;
}
.text1{
    font-family: 'Nunito', sans-serif;
    color: var(--first-color);
    font-size: 1rem;
    font-weight: 600;
}

.myphoto{
    
    display: flex; 
    justify-content: center; 
    align-items: center; 
    

      
}

.myphoto img {
    border-radius: 1cap;
}

.filters{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.filter-btn{
    font-family: 'Montserrat', sans-serif;
    color: var(--fourth-color);
    background-color: var(--first-color);
    padding: 5px 15px;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: var(--third-color);
}


.course-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    color: var(--first-color);
}

.course-card.completed {
    background-color: #d1f7d6; /* Verde suave */
    border-color: #2A9D8F;
    
}
  
.course-card.not-completed {
    background-color: #f9d3d3; /* Rojo suave */
    border-color: #E76F51;
}

#total-credits{
    color: var(--first-color);
}

/*******************FOOTER*******************/

footer{
    background-color: var(--first-color);
    padding: 1rem 10px;
    text-align: center;
    color: var(--fourth-color);
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img{
    width: 22px;
    height: 22px;
}

.social a:hover{
    background-color: #ddd;
}






