@media only screen and (min-width: 38rem) {
    header, main, nav, section, footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 44px auto;
    }
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .hero-text h2 {
        font-size: 1.7rem;
    }

    .hero-text p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .top-row{
        display: grid;
        grid-template-columns: 60% 35%;
        justify-content: space-around;
    }
    .purpose {
        font-size: 1.8rem;
        grid-column: 1/2;
        text-align: center;
    }
    .weathercard{
        grid-column: 2/3;
        
    }
    

   
}
